{{#if id}}
    {{#link-to 'VaultIndex' id class="list-group-item"}}
        <h4 class="list-group-item-heading">{{name}}</h4>

        <p class="list-group-item-text">{{description}}</p>

        <div class="help-block top-15">
              Created by {{ucfirst created_by.nickname}} {{created_ago}}
        </div>

    {{/link-to}}
{{/if}}

