{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/images/logo-black.png">

    <title>Vaultier</title>

    {####################################################################}
    {# loader and core #}
    {####################################################################}

    <script src="{% static 'lib/jquery/jquery.js' %}"></script>
    <script src="{% static 'lib/headjs/head.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>

    {####################################################################}
    {# config and start #}
    {####################################################################}

    <script src="{% url 'config' %}"></script>
    <script src="{% static 'js/includes.js' %}"></script>
</head>

<body>

{% verbatim %}
<script type="text/x-handlebars">
    <div class="vlt-outlet-application">
        {{ outlet }}
    </div>
    <div class="vlt-outlet-modal">
        {{ outlet modal }}
    </div>
</script>

{% endverbatim %}

{% if BK_FEATURES.dev_shared_key %}
    {% include 'keys.html' %}
{% endif %}

</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17830772-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/8zRd95ECD9JGB4FbU1Ew1A.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'feedback',
  primary_color: '#4bb0ea',
  link_color: '#007dbf',
  forum_id: 242193,
  tab_label: 'Feedback & Support',
  tab_color: '#4bb0ea',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>

</html>
