.icon-app:before {
	content: "\e000";
}
.icon-barcode:before {
	content: "\e001";
}
.icon-black46:before {
	content: "\e002";
}
.icon-bug:before {
	content: "\e003";
}
.icon-circular9:before {
	content: "\e004";
}
.icon-door1:before {
	content: "\e005";
}
.icon-key:before {
	content: "\e006";
}
.icon-key2:before {
	content: "\e007";
}
.icon-keychain:before {
	content: "\e008";
}
.icon-little13:before {
	content: "\e009";
}
.icon-open15:before {
	content: "\e00a";
}
.icon-open19:before {
	content: "\e00b";
}
.icon-outlined4:before {
	content: "\e00c";
}
.icon-policeman:before {
	content: "\e00d";
}
.icon-safe:before {
	content: "\e00e";
}
.icon-shield2:before {
	content: "\e00f";
}
.icon-shield3:before {
	content: "\e010";
}
.icon-solid5:before {
	content: "\e011";
}
.icon-unlock2:before {
	content: "\e012";
}
.icon-unlocked3:before {
	content: "\e013";
}
.icon-verified:before {
	content: "\e014";
}
