<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-dialog col-md-6 col-md-offset-3 col-xs-12 top-50">
            <div class="vlt-dialog-content">
                <form class="form-horizontal" role="form">

                    <div class="vlt-dialog-header">
                        <h2>Your Reset Request Was Accepted.</h2>
                    </div>
                    <div class="vlt-dialog-body">
                        <div class="row">
                            <div class="col-md-12 text-center bottom-15">
                                <p>
                                    We have sent you an email with instructions to recover your
                                    private key.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="vlt-dialog-footer">

                        {{#link-to 'AuthLogin' class="btn btn-primary" }}
                            Return to login
                        {{/link-to}}
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>