<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-dialog col-md-8 col-md-offset-2 col-xs-12 top-50">
            <div class="vlt-dialog-content">
                <div class="vlt-dialog-header">
                    <h2>Regenerate private key</h2>
                </div>
                <div class="vlt-dialog-body">

                    <div class="col-md-8 col-md-offset-2">
                        {{change-key action="save"}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>