<div id="vlt-footer">
    <div class="container">
        <div class="pull-left">
            <p>
                <a href="http://rightclick.formees.cz/f/vaultier/" class="btn btn-success" target="_blank">
                    Enterprise Edition & Business Solutions
                </a>
                <a href="mailto:info@rclick.cz" class="btn btn-default">
                    Contact us
                </a>
            </p>
        </div>
        <div class="pull-right">
            <a href="http://www.rclick.cz/" target="_blank">
                <img height="35px" src="/static/vaultier/images/rclick.png">
            </a></p>
        </div>
    </div>
</div>
