<div class="input-group">
    {{view Em.TextField elementId='secret-password' value=value class="form-control" disabledBinding=disabled }}
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "generatePassword"}} {{bindAttr disabled=disabled}}>Generate</button>
    </span>
</div>
