{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/assets/css/bootwatch.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <script src="{% static 'lib/requirejs/requirejs.js' %}" data-main="{% static 'js/application' %}"></script>

</head>

<body>
    <script type="text/x-handlebars-template" data-template-name="application">
    {{ outlet }}
    </script>
</body>
</html>
