<div>

    <div class="col-md-5 col-md-offset-1">
        <h4>How our security works</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
            nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
        </p>
    </div>

    <div class="col-md-5">
        <h4>Steps of registration</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
            nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
        </p>
    </div>

    <div class="clearfix"></div>

</div>
