<div class="callout callout-info">
    <h4>How our security works - {{value}}</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
        nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
    </p>

    <h4>Steps of registration</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
        nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
    </p>

</div>
