<div class="vlt-register-keys">
{{#if props.keysReady }}

        <div class="row bottom-15">
            <div class="col-md-8 col-md-offset-2">
                <h4>We have generated your private and public key pair. </h4>

                <p>
                    Public key will be uploaded to Vaultier.
                    But private key is only for you and will be used to log into the Vaultier and to encrypt your
                    secrets.
                </p>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2 alert alert-warning">

            <div class="row top-15">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <a class="btn btn-primary" {{ action downloadKey }}>Save your private key file to your computer</a>
                </div>
            </div>


            <div class="row top-15">
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Private key is used instead of password to log into Vaultier.
                        Please keep private key safe and do not give it to anybody.
                        Without private key you will not be able to log into Vaultier
                        and your data will be rendered unreadable.
                    </p>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

    </div>


{{else}}
    <div class="generate">
        <h3>Please wait while generating your keys</h3>

        <div class="vlt-preloader vlt-preloader-small">
        </div>
    </div>
{{/if}}
</div>
