<div class="row">
    <div class="col-md-12">

        <div class="vlt-dialog vlt-tabs-modal vlt-login">
            <div class="vlt-dialog-content">
        <form class="form-horizontal" role="form">

                <div class="vlt-dialog-header">
                    <h2>Login</h2>

                    {{#if props.latestUser }}

                        <ul class="nav nav-tabs vlt-login-tabs">
                            <li class="AuthLoginLatest">
                                {{#link-to 'AuthLogin.latest'}}
                                    Latest
                                {{/link-to}}
                            </li>
                            <li class="AuthLoginSwitch">
                                {{#link-to 'AuthLogin.switch'}}
                                    Switch
                                {{/link-to}}
                            </li>
                        </ul>

                    {{/if}}

                </div>
                <div class="vlt-dialog-body">

                    <div class="tab-content">
                        <div class="tab-pane active">
                            {{outlet AuthLogin}}
                        </div>
                    </div>


                </div>
                <div class="vlt-dialog-footer">
                    Do not have account yet? {{#link-to 'AuthRegister' class="btn btn-default btn-sm" }}Create new
                    account here{{/link-to}}
                    <button type="submit" {{ action login}} {{bind-attr disabled=loginButtonDisabled }} class="btn btn-primary">
                        Login
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



