<div class="vlt-register-keys">
{{#if props.keysReady }}

        <div class="row bottom-15">
            <div class="col-md-8 col-md-offset-2">
                <h4>Your keys has been generated</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu.
                    nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
                </p>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2 alert alert-warning">

            <div class="row top-15">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <b>
                            Your private key
                        </b>
                        <br/>
                    <span class="help-block">
                        Used instead of password. Please download the key.
                    </span>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default btn-primary" {{ action downloadKey }}>Download your key</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>


{{else}}
    <div class="generate">
        <h3>Please wait while generating your keys</h3>

        <div class="vlt-preloader vlt-preloader-small">
        </div>
    </div>
{{/if}}
</div>
