/*************************************************************
**************************************************************
* Bootstrap compatibility with ember "script element" issue
*************************************************************
*************************************************************/

/*
* Drop down carrets
*/

.dropdown-menu.caret-left,
.dropdown-menu.caret-right {
    margin-top: 8px;
}

.dropdown-menu.caret-left::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);;
    content: '';
}

.dropdown-menu.caret-left::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu.caret-right::before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu.caret-right::after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

/*
* Listgroups
*/
.list-group-item:last-child {
    margin: 0px;
}

.list-group-item:first-child {
    border-radius: 0px;
}

.list-group .ember-view:first-of-type .list-group-item {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group .ember-view:last-of-type .list-group-item {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.breadcrumb > li::before {
    padding: 0px;
    content: normal;
}

/*
* Bredcrumbs
*/

.breadcrumb > li:before {
    padding: 0 5px;
    color: #cccccc;
    content: "/\00a0";
}

.breadcrumb > li:first-of-type:before {
    padding: 0px;
    content: normal;
}

.notifyjs-bootstrap-base {
    width: 400px;
    white-space: normal !important;
    padding-left: 14px !important;
    background-image: none !important;
    text-align: center;
}

.notifyjs-container {
    margin-left: -200px !important;
}

.notifyjs-corner {
    left: 50% !important;
}

/*
* Errors
*/

.has-error .error {
    color: #C84A48;
}

/*
* Boostrap file input
*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/*************************************************************
**************************************************************
* rows
*************************************************************
*************************************************************/

.bottom-5 {
    margin-bottom: 5px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.bottom-15 {
    margin-bottom: 15px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.bottom-150 {
    margin-bottom: 150px;
}

.top-5 {
    margin-top: 5px;
}

.top-10 {
    margin-top: 10px;
}

.top-15 {
    margin-top: 15px;
}

.top-30 {
    margin-top: 30px;
}

.top-150 {
    margin-top: 150px;
}

/*************************************************************
**************************************************************
* breadcrumbs
*************************************************************
*************************************************************/

.vlt-breads {
    background-color: #F5F5F5;
}

.vlt-breads .breadcrumb {
    margin-bottom: 0px;
    padding-left: 0px;
}

.vlt-breads .breadcrumb .active h2 {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 0px;
}

/*************************************************************
**************************************************************
* page and page section
*************************************************************
*************************************************************/

.vlt-page > .vlt-page-nav {
    margin-bottom: 20px;
}

.vlt-page > .vlt-page-nav .vlt-page-tabs {
    margin-top: 20px;
}

.vlt-page > .vlt-page-nav .vlt-page-toolbar {
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 0px 0px 8px 8px;
}

.vlt-section {
    margin-top: 25px;
}

/*************************************************************
**************************************************************
* item
*************************************************************
*************************************************************/

.vlt-item {
    border-color: #F5F5F5;
    border-radius: 0px 8px 8px 8px;
    border-width: 2px;
    position: relative;
    width: 280px;
    margin-left: 65px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.vlt-item:hover {
    _transition: border-color 500ms;
    border-color: #4AEA84;
    text-decoration: none;
}

.vlt-item:hover .panel-footer {
    _transition: background-color 500ms;
    _transition: color 250ms;
    background-color: #4AEA84;
    color: #ffffff;
}

.vlt-item:hover .panel-icon {
    _transition: background-color 500ms;
    background-color: #4AEA84;
}

.vlt-item .panel-icon {
    position: absolute;
    border-radius: 14px;
    width: 80px;
    padding: 10px 0px 10px 10px;
    left: -68px;
    top: -2px;
    background-color: #F5F5F5;
    z-index: -1;
}

.vlt-item .panel-icon img {
    width: 48px;
    height: 48px;
}

.vlt-item .panel-header h3 {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 15px 15px 0px 15px;
}

.vlt-item .panel-body {
    color: #1971A3;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vlt-item .panel-footer {
    border-top: 0px;
    color: #317EAC;
    width: 100%;
    background-color: #F5F5F5;
}

/*************************************************************
**************************************************************
* Vault item
*************************************************************
*************************************************************/

.vlt-item.vlt-vault-item .panel-footer .vlt-updated {
    text-align: right;
}

/*************************************************************
**************************************************************
* Footer
*************************************************************
*************************************************************/

.vlt-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: right;
    padding: 5px 0px 0px 0px;
    background-color: #F5F5F5;
}

/*************************************************************
**************************************************************
* navbar + branding
*************************************************************
*************************************************************/

.vlt-branding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.vlt-branding .vlt-brand {
    padding: 8px 0px 8px 0px;
    float: left;
    line-height: 32px;
}

.vlt-branding .vlt-brand > a {
    text-decoration: none;
    color: #ffffff;
}

.vlt-branding .vlt-brand .vlt-brandimg {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.vlt-branding .vlt-brand .vlt-brandname {
    font-size: 32px;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
}

/*************************************************************
**************************************************************
* Workspace box in navbar
*************************************************************
*************************************************************/

.vlt-wspace-box {
    margin: 8px 10px 8px 0px;
    padding: 5px 10px 5px 5px;
}

.vlt-wspace-box .vlt-wspacename {
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}

.vlt-wspace-box .vlt-wspaceimg {
    border-radius: 4px;
    width: 25px;
    height: 25px;
}

.vlt-wspace-box .dropdown-menu {
    text-align: right;
}

/*************************************************************
**************************************************************
* security box in navbar
*************************************************************
*************************************************************/

.vlt-security-box {
    margin: 8px 0px 8px 0px;
    padding: 5px 10px 5px 5px;
}

.vlt-security-box img.vlt-avatar {
    border-radius: 4px;
    width: 25px;
    height: 25px;
}

.vlt-security-box a.vlt-username {
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    padding-left: 10px;
}

.vlt-security-box .dropdown-menu {
    text-align: right;
}

/*************************************************************
**************************************************************
* Wizard
*************************************************************
*************************************************************/

.vlt-wizard-steps li {
    background-color: #EEEEEE;
    border-radius: 6px;
}

.vlt-wizard-steps li a:hover {
    color: #2FA4E7;
}

/*************************************************************
**************************************************************
* tabbable modal
*************************************************************
*************************************************************/

.vlt-tabs-modal.modal-dialog .modal-header {
    padding: 15px 0px 0px 0px;
    border-bottom: 0px;
}

.vlt-tabs-modal.modal-dialog .modal-header h2 {
    padding: 0px 15px 15px 25px;
    margin: 0px;
    border-bottom: 0px;
}

.vlt-tabs-modal.modal-dialog .nav-tabs {
    padding: 0px 18px 0px 18px;
}

.vlt-tabs-modal.modal-dialog .nav-pills {
    padding: 0px 18px 0px 18px;
}

/*************************************************************
**************************************************************
* Login modal
*************************************************************
*************************************************************/

.vlt-login.modal-dialog {
    width: 700px;
}

/*************************************************************
**************************************************************
* Register modal
*************************************************************
*************************************************************/

.vlt-register.modal-dialog {
    width: 900px;
}

/*************************************************************
**************************************************************
* info boxes
*************************************************************
*************************************************************/

.callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.callout {
    margin: 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.callout h4 {
    margin-top: 0;
}

.callout p:last-child {
    margin-bottom: 0;
}

/*************************************************************
**************************************************************
* registration - generate keys
*************************************************************
*************************************************************/

.vlt-register .modal-body {
    padding: 25px 50px 25px 50px;
}

.vlt-register-keys .generate {
    text-align: center;
}

.vlt-register-keys .generated {
    text-align: center;
}

.vlt-register-keys .generated .vlt-download {
    width: 40%;
    margin: 0px auto;
}

/*************************************************************
**************************************************************
* login
*************************************************************
*************************************************************/

.vlt-login.modal-dialog {
    width: 700px;
}

.vlt-login.modal-dialog .alert {
    margin-left: 15px;
    margin-right: 15px;
}

/*************************************************************
**************************************************************
* Preloader
*************************************************************
*************************************************************/

.vlt-preloader {
    margin: 0px auto;
    background-size: 100% 100%;
    background-image: url('../images/preloader_220x220.gif');
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
}

.vlt-preloader-small {
    width: 110px;
    height: 110px;
    background-image: url('../images/preloader_110x110.gif');

}

/*************************************************************
**************************************************************
* Secret items
*************************************************************
*************************************************************/

.vlt-select-secret-item {
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid #EEEEEE;
    border-radius: 6px;
    background-color: #EEEEEE;
}



.vlt-select-secret-item:hover {
    background-color: #2FA4E7;
    border-color: #2FA4E7;
}

.vlt-select-secret-item .vlt-visual .vlt-icon {
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 10px;
}

.vlt-select-secret-item .vlt-desc {
    min-height: 100px;
    background-color: #ffffff;
    margin-left: 100px;
    padding: 10px;
}

.vlt-select-secret-item .vlt-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
}

.vlt-select-secret-item .vlt-icon.note {
    background-image: url('../images/icon-note-white.png');
}

.vlt-select-secret-item .vlt-icon.password {
    background-image: url('../images/icon-password-white.png');
}


.vlt-select-secret-item .vlt-icon.file {
    background-size: 100% 100%;
    background-image: url('../images/icon-file-white.png');
}