/*************************************************************
**************************************************************
* Bootstrap compatibility with ember "script element" issue
*************************************************************
*************************************************************/

.breadcrumb > li:before {
    padding: 0 5px;
    color: #cccccc;
    content: "/\00a0";
}

.breadcrumb > li:first-of-type:before {
    padding: 0px;
    content: normal;
}

/*************************************************************
**************************************************************
* breadcrumbs
*************************************************************
*************************************************************/

.vlt-breads {
    background-color: #F5F5F5;
}

.vlt-breads .breadcrumb {
    margin-bottom: 0px;
    padding-left: 0px;
}


.vlt-breads .breadcrumb .active h2 {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 0px;
}


/*************************************************************
**************************************************************
* page
*************************************************************
*************************************************************/

.vlt-page > .vlt-page-nav {
    margin-bottom: 20px;
}

.vlt-page > .vlt-page-nav .vlt-page-tabs {
    margin-top: 20px;
}

.vlt-page > .vlt-page-nav .vlt-page-toolbar {
    padding: 5px 10px 5px 10px;
    background-color: #F5F5F5;
    border-radius: 0px 0px 8px 8px;
}

/*************************************************************
**************************************************************
* item
*************************************************************
*************************************************************/


.vlt-item {
    border-color: #F5F5F5;
    border-radius: 0px 8px 8px 8px;
    border-width: 2px;
    position: relative;
    width: 280px;
    margin-left: 65px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.vlt-item:hover {
    _transition: border-color 500ms;
    border-color: #4AEA84;
    text-decoration: none;
}

.vlt-item:hover .panel-footer {
    _transition: background-color 500ms;
    _transition: color 250ms;
    background-color: #4AEA84;
    color: #ffffff;
}

.vlt-item:hover .panel-icon {
    _transition: background-color 500ms;
    background-color: #4AEA84;
}


.vlt-item .panel-icon {
    position: absolute;
    border-radius: 14px;
    width: 80px;
    padding: 10px 0px 10px 10px;
    left: -68px;
    top: -2px;
    background-color: #F5F5F5;
    z-index: -1;
}
.vlt-item .panel-icon img {
    width: 48px;
    height: 48px;
}

.vlt-item .panel-header h3 {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 15px 15px 0px 15px;
}

.vlt-item .panel-body {
    color: #1971A3;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vlt-item .panel-footer {
    border-top: 0px;
    color: #317EAC;
    width: 100%;
    background-color: #F5F5F5;
}

/*************************************************************
**************************************************************
* Vault item
*************************************************************
*************************************************************/


.vlt-item.vlt-vault-item .panel-footer .vlt-updated {
    text-align: right;
}

/*************************************************************
**************************************************************
* Footer
*************************************************************
*************************************************************/


.vlt-footer {
    text-align: right;
    padding: 20px 0px 20px 0px;
    background-color: #F5F5F5;
}

/*************************************************************
**************************************************************
* navbar + branding
*************************************************************
*************************************************************/

.vlt-branding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.vlt-branding .vlt-brand {
    padding: 8px 0px 8px 0px;
    float: left;
    line-height: 32px;
}

.vlt-branding .vlt-brand > a {
    text-decoration: none;
    color: #ffffff;
}


.vlt-branding .vlt-brand .vlt-brandimg {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.vlt-branding .vlt-brand .vlt-brandname {
    font-size: 32px;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
}

/*************************************************************
**************************************************************
* Workspace box in navbar
*************************************************************
*************************************************************/


.vlt-wspace-box {
    margin: 8px 10px 8px 0px;
    padding: 5px 10px 5px 5px;
}

.vlt-wspace-box .vlt-wspacename {
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}

.vlt-wspace-box .vlt-wspaceimg {
    border-radius: 4px;
    width: 25px;
    height: 25px;
}

.vlt-wspace-box .dropdown-menu {
    text-align: right;
}


/*************************************************************
**************************************************************
* security box in navbar
*************************************************************
*************************************************************/

.vlt-security-box {
    margin: 8px 0px 8px 0px;
    padding: 5px 10px 5px 5px;
}

.vlt-security-box img.vlt-avatar {
    border-radius: 4px;
    width: 25px;
    height: 25px;
}


.vlt-security-box a.vlt-username {
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    padding-left: 10px;
}

.vlt-security-box .dropdown-menu {
    text-align: right;
}
