<div class="vlt-author col-md-9 pull-left">
    <div class="vlt-footer-item help-block">
        {{printUser created_by  ellipsis=12 prefix='Created by:'}}
        (last update {{printAgo updated_at prefix='Latest modification at:' }})
    </div>
</div>

{{#exp  "(perms.update || perms.delete)"}}

    <div class="vlt-buttons col-md-3">
        <div class="btn-group pull-right">
            <a type="button"
               class="btn btn-default dropdown-toggle btn-sm"
               data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu caret-right">

                {{#if perms.update}}
                    <li>
                        {{#link-to 'Secret.edit' this.id }}Edit secret{{/link-to}}
                        {{#link-to 'Secret.move' this.id }}Move secret to another card{{/link-to}}
                    </li>
                {{/if}}

                {{#if perms.delete}}
                    <li>
                        <a href="javascript:" {{action deleteSecret this }}>Delete secret</a>
                    </li>
                {{/if}}

            </ul>
        </div>
    </div>

{{/exp}}

<div class="clearfix"></div>

