# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*.bak
*.pyc

# Ignored folders
sources/CACHE 
sources/venv
run/*
logs/*

# Can also ignore all directories and files in a directory.
.buildpath
.project
.settings
nbproject/
.idea/

sources/app/settings.py

# ignore node modules
sources/scripts/node_modules/

#ignore bower componets
sources/scripts/bower_components/

# we can ignore builded handlebar templates
sources/scripts/tpl/

sources/media/

#celery files
celerybeat-schedule
celerybeat.pid