# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*.bak
*.pyc

# Ignored folders
sources/CACHE 
sources/venv
run/*
logs/*

# Can also ignore all directories and files in a directory.
.buildpath
.project
.settings
nbproject/
.idea/

# sdist target
dist/

# development settings
vaultier/vaultier/settings/dev_*.py

# ignore node modules
vaultier/vaultier/scripts/node_modules/

# ignore bower componets
vaultier/vaultier/scripts/bower_components/

# ignore builded folder
vaultier/vaultier/scripts/dist/

# ignore builded folder
vaultier/vaultier/scripts/docs/

# we can ignore built handlebar templates
vaultier/vaultier/scripts/tpl/

# ignore media
vaultier/vaultier/media

# ignore egg
Vaultier.egg-info

# ignore builded doc
docs/_build
