# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*.bak
*.pyc

# Ignored folders
sources/CACHE 
sources/venv

# Can also ignore all directories and files in a directory.
.buildpath
.project
.settings
nbproject/
.idea/

sources/vaultier/settings.py
