<div class="container-full">
    <div class="vlt-page">
        <div class="vlt-page-content">
            <div class="col-md-12">
                <div class="top-50">
                    <div class="jumbotron vlt-bigbox vlt-no-keys">
                        <div class="vlt-header">
                            <div class="vlt-icon">

                            </div>
                            <div class="vlt-title">
                                <h1>You do not have key to this node yet</h1>
                            </div>
                        </div>
                        <p>
                            Please wait till node key will be automatically transfered to you
                            when somebody of the team goes online. You will get an email once key are received.
                            <br/>
                            <br/>
                            Key is used to encrypt and decrypt node data and you cannot access it without them.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

