{{#if id}}
    {{#link-to 'Card.index' this class="vlt-item vlt-vault-item" }}
        <div class="vlt-header">
            <div class="vlt-icon">
                <img src="/static/images/icon-vault-dark-blue.png">
            </div>
            <div class="vlt-title">
                <h3>
                    {{ellipsis name 35}}
                </h3>

            </div>
        </div>
        <div class="vlt-body">
            {{ellipsis description 250  }}
        </div>
        <div class="vlt-footer">
            <div class="vlt-footer-item help-block">
                Updated: {{ updated_ago }}
            </div>
            <div class="vlt-footer-item help-block">
                Created by {{ucfirst created_by.nickname}}
            </div>
            <div class="clearfix"></div>
        </div>
    {{/link-to}}
{{/if}}

