<div class="vlt-page-nav">

    {{#exp  "( workspace.perms.invite || workspace.perms.create || workspace.perms.update || workspace.perms.delete)" }}

        <div class="vlt-page-toolbar pull-right">
            <div>

                {{#exp  "( workspace.perms.update || workspace.perms.delete)"}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu caret-left">

                            {{#if workspace.perms.update}}
                                <li>
                                    {{#link-to "Workspace.edit" workspace.slug}}
                                        Edit workspace
                                    {{/link-to}}
                                </li>
                            {{/if}}

                            {{#if workspace.perms.delete}}
                                <li>
                                    <a href="#" {{action deleteWorkspace workspace}}>Delete workspace</a>
                                </li>
                            {{/if}}

                        </ul>
                    </div>
                {{/exp}}


                {{#if workspace.perms.invite }}
                    <div
                            class="vlt-button-wrapper"
                            data-toggle="tooltip"
                            title=
                                    "
                             Invite new team members to collaborate over this workspace
                             or  grant access permission to current team members
                             "
                            data-placement="bottom"
                            >
                        {{#link-to "Workspace.memberIndex" workspace.slug class="btn btn-default"}}
                            <span class="glyphicon glyphicon-user"></span>
                            Collaborate
                        {{/link-to}}
                    </div>
                {{/if}}

                {{#if workspace.perms.create }}
                    <div
                            class="vlt-button-wrapper"
                            data-toggle="tooltip"
                            title=
                                    "
                                    Vaults are used to organize your secrets into cards in vault.
                                    You can also collaborate with other team members at the vault
                                    "
                            data-placement="bottom"
                            >
                        {{#link-to "Vaults.create" workspace.slug class="btn btn-primary"}}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new vault
                        {{/link-to}}
                    </div>
                {{/if}}

            </div>
        </div>

    {{/exp}}

    <div class="pull-left">
        <h2>Workspace dashboard</h2>
    </div>

    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">


        {{view Vaultier.WorkspacesIndexWithoutKeysView workspace=workspace }}

        {{#if length}}
            {{#each}}
                {{view Vaultier.VaultIndexItemView}}
            {{/each}}
        {{else}}
            <div class="jumbotron vlt-empty vlt-vault col-md-8 col-md-offset-2">
                <div class="vlt-header">
                    <div class="vlt-icon">

                    </div>
                    <div class="vlt-title">
                        <h1>You do not have any vault yet</h1>
                    </div>
                </div>


                {{#if workspace.perms.create }}

                    <p>
                        Vaults are used to organize your secrets into cards in vault.
                        You can also collaborate with other team members at the vault
                    </p>

                    <p class="top-30">
                        {{#link-to "Vaults.create" workspace class="btn btn-lg btn-primary" }}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new vault
                        {{/link-to}}
                    </p>
                {{/if}}

            </div>
        {{/if}}

    </div>
</div>

