<div class="col-md-4 col-md-offset-4 top-150 bottom-150 alert alert-danger">
    <div>
        <h4>Oooups! 400 Bad request</h4>

        <p>
            Something wrong happen here
        </p>
    </div>

    <div class="btn-group pull-right">
        <a href="javascript:history.go(-1)" class="btn btn-default">
            Go back
        </a>

        {{#link-to 'index' class="btn btn-primary"}}
            Go to homepage
        {{/link-to}}
    </div>
</div>
