<div class="col-md-6 col-md-offset-3 top-150 bottom-150 alert alert-danger">
    <div>
        <h4>{{content.title}}</h4>

        <p>
            {{content.message}}
        </p>
    </div>

    <div class="btn-group pull-right">
        {{#link-to 'index' class="btn btn-primary"}}
            Go to homepage
        {{/link-to}}
    </div>
</div>
