{{view view.treeNodeHeader}}
<span class="node-content">
    <span {{bind-attr class=":icon view.node.folder view.node.file view.node.password view.node.note view.node.typeCss"}}>
    </span>
    {{view.nodeContent}}
</span>
