<div class="row top-30">
    <div class="col-md-12">
        <div class="jumbotron vlt-bigbox vlt-no-keys col-md-8 col-md-offset-2">
            <div class="vlt-header">
                <div class="vlt-icon">

                </div>
                <div class="vlt-title">
                    <h1>You do not have keys to workspace yet </h1>
                </div>
            </div>
            <p>
                Please wait till keys will be automatically transfered to you
                when somebody of team goes online. You will get email once keys received.
                <br/>
                <br/>
                Keys are used to encrypt and decrypt workspace data

            </p>
        </div>
    </div>
</div>

