<div class="panel panel-default vlt-account-box pull-right dropdown">

    <img class="vlt-accountimg" src="/static/images/user/rclick.png ">

    <a href="#" class="vlt-accountname dropdown-toggle" data-toggle="dropdown">
        RightClick Vault
    </a>

    <ul class="dropdown-menu">
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
    </ul>
</div>
