<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <div class="navbar-brand vlt-branding">
                <div class="vlt-brand">
                    <a href="#">
                        <img class="vlt-brandimg" src="/static/images/logo.png">

                        <div class="vlt-brandname">
                            Vaultier
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="navbar-right">


            {{render "LayoutSecurityBox" LayoutSecurityBox}}

            {{render "LayoutWorkspaceBox" LayoutWorkspaceBox}}


            <div class="clearfix"></div>
        </div>
    </div>
</div>


{{partial 'Layout/Breadcrumbs'}}


<div class="container vlt-page">
    {{yield}}
</div>


<div id="vlt-footer">
    <div class="container">
        <p>&copy; RightClick 2013</p>
    </div>
</div>
