<div class="vlt-search-box pull-right">
    <input
            class="typeahead form-control"
            type="text"
            placeholder="Search"
            autocomplete="off"
            spellcheck="false"
            dir="auto"
            >
</div>
