{{#if env.workspace }}
    <div class="panel panel-default vlt-wspace-box pull-right dropdown">

        <img class="vlt-wspaceimg" src="/static/images/user/rclick.png ">

        <a href="#" class="vlt-wspacename dropdown-toggle" data-toggle="dropdown">
            {{ env.workspace.name }}
        </a>

        <ul class="dropdown-menu caret-right">
            <li>
                {{#linkTo 'Workspace.index' env.workspace }}
                    Go to workspace dashboard
                {{/linkTo}}
            </li>

            {{#if env.workspace.perms.update }}
            <li>
                {{#linkTo 'Workspace.edit' env.workspace }}
                    Setup workspace
                {{/linkTo}}
            </li>
            {{/if}}

            <li class="divider"></li>

            <li>
                {{#linkTo 'Workspaces.index'}}
                    Switch to another workspace
                {{/linkTo}}
            </li>

        </ul>
    </div>
{{/if}}