<div class="vlt-page-nav">

    <div class="vlt-page-toolbar pull-right">
        <div>

             <a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span>
                Invite collaborator
            </a>

        </div>
    </div>

    <div class="pull-left">
        <h2 data-toggle="tooltip" title="first tooltip">List of collaborators</h2>
    </div>

    <div class="clearfix"></div>

</div>