{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/images/logo-black.png">

    <title>Vaultier</title>


    {####################################################################}
    {# CSS #}
    {####################################################################}

    {############# boostrap #}

    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/assets/css/bootwatch.min.css' %}" rel="stylesheet">

    {############# ui components #}
    <link href="{% static 'lib/select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/select2-bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'lib/selectizejs/dist/css/selectize.bootstrap3.css' %}" rel="stylesheet">


    {############# main css #}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">


    {####################################################################}
    {# JAVASCRIPTS #}
    {####################################################################}

    {############# jquery #}
    <script src="{% static 'lib/jquery/jquery.js' %}"></script>
    <script src="{% static 'lib/headjs/head.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>

    {############# components #}
    {% include 'boostrap_lib.html' %}
    {% include 'boostrap_tpl.html' %}
    {% include 'boostrap_utils.html' %}
    {% include 'boostrap_app.html' %}

    {####################################################################}
    {# config and start #}
    {####################################################################}

    <script src="{% url 'config' %}"></script>
    <script src="{% static 'js/run.js' %}"></script>


</head>

<body>

{% verbatim %}
<script type="text/x-handlebars">
    {{ outlet }}

    <div>
        {{ outlet modal }}
    </div>
</script>
{% endverbatim %}

{% if BK_FEATURES.dev_shared_key %}
    {% include 'keys.html' %}
{% endif %}

</body>
</html>
