{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/assets/css/bootwatch.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">


    {####################################################################}
    {# libs#}
    {####################################################################}

    {############# jquery #}
    <script src="{% static 'lib/jquery/jquery.js' %}"></script>
    <script src="{% static 'lib/jquery.notify/jquery.notify.js' %}"></script>

    {############# generic #}
    <script src="{% static 'lib/moment/moment.js' %}"></script>

    {############# ppk #}
    <script src="{% static 'lib/cryptojs/components/core.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/enc-base64.js' %}"></script>

    <script src="{% static 'lib/jsencrypt/bin/jsencrypt.js' %}"></script>

    {############# working with files #}
    <script src="{% static 'lib/filesaver/filesaver.js' %}"></script>
    <script src="{% static 'lib/fileapi/dist/FileAPI.js' %}"></script>

    {############# validations #}
    <script src="{% static 'lib/lgtm/dist/lgtm-standalone.js' %}"></script>

    {############# ember, ember-data, handlebars core #}
    <script src="{% static 'lib/handlebars/handlebars.js' %}"></script>
    <script src="{% static 'lib/ember/ember.js' %}"></script>
    <script src="{% static 'lib/ember/ember-data.js' %}"></script>
    <script src="{% static 'lib/ember/ember-data-django.js' %}"></script>

    {############# handlebars helpers #}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'lib/bootstrap/assets/js/html5shiv.js' %}"></script>
    <script src="{% static 'lib/bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>


    {####################################################################}
    {# templates#}
    {####################################################################}


    {############# layouts #}

    <script src="{% static 'hbsc/Layout/SecurityBox.js' %}"></script>
    <script src="{% static 'hbsc/Layout/WorkspaceBox.js' %}"></script>
    <script src="{% static 'hbsc/Layout/Breadcrumbs.js' %}"></script>
    <script src="{% static 'hbsc/Layout/LayoutStandard.js' %}"></script>
    <script src="{% static 'hbsc/Layout/LayoutWindow.js' %}"></script>

    {############# vault #}

    <script src="{% static 'hbsc/Vault/Index.js' %}"></script>
    <script src="{% static 'hbsc/Vault/IndexItem.js' %}"></script>
    <script src="{% static 'hbsc/Vault/Create.js' %}"></script>


    {############# auth #}
    <script src="{% static 'hbsc/Auth/Login.js' %}"></script>
    <script src="{% static 'hbsc/Auth/LoginLatest.js' %}"></script>
    <script src="{% static 'hbsc/Auth/LoginSwitch.js' %}"></script>
    <script src="{% static 'hbsc/Auth/Register.js' %}"></script>
    <script src="{% static 'hbsc/Auth/RegisterBefore.js' %}"></script>
    <script src="{% static 'hbsc/Auth/RegisterKeys.js' %}"></script>
    <script src="{% static 'hbsc/Auth/RegisterCreds.js' %}"></script>
    <script src="{% static 'hbsc/Auth/RegisterSum.js' %}"></script>

    {####################################################################}
    {# utils#}
    {####################################################################}

    <script src="{% static 'js/utils/Pohon.js' %}"></script>
    <script src="{% static 'js/utils/Singleton.js' %}"></script>
    <script src="{% static 'js/utils/ObjectModalController.js' %}"></script>
    <script src="{% static 'js/utils/CookieStorage.js' %}"></script>

    {####################################################################}
    {# application#}
    {####################################################################}

    <script src="{% static 'js/application.js' %}"></script>

    {############# services #}

    <script src="{% static 'js/service/Auth/AuthService.js' %}"></script>

    {############# model #}
    <script src="{% static 'js/model/model.js' %}"></script>

    {############# Layout #}
    <script src="{% static 'js/module/Layout/layout.js' %}"></script>
    <script src="{% static 'js/module/Layout/SecurityBox.js' %}"></script>
    <script src="{% static 'js/module/Layout/breadcrumbs.js' %}"></script>
    <script src="{% static 'js/module/Layout/WorkspaceBox.js' %}"></script>

    {############# Vault #}
    <script src="{% static 'js/module/Vault/index.js' %}"></script>
    <script src="{% static 'js/module/Vault/create.js' %}"></script>

    {############# Auth #}
    <script src="{% static 'js/module/Auth/login.js' %}"></script>
    <script src="{% static 'js/module/Auth/register.js' %}"></script>

    {############# Router #}
    <script src="{% static 'js/router.js' %}"></script>


</head>

<body>

{% verbatim %}
<script type="text/x-handlebars">
    {{ outlet }}

    <DIV>
        {{ outlet modal }}
    </DIV>
</script>
{% endverbatim %}

</body>
</html>
