{% load staticfiles %}
{% load compress %}

{############# validations - move to compress #}
<script src="{% static 'lib/lgtm/dist/lgtm-standalone.js' %}"></script>

{% compress js %}

    {############# raven #}
    <script src="{% static 'lib/sentry/raven.js' %}"></script>

    {############# jquery plugins #}
    <script src="{% static 'lib/jquery.notify/jquery.notify.js' %}"></script>
    <script src="{% static 'lib/jquery.jstorage/jstorage.js' %}"></script>
    <script src="{% static 'lib/jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'lib/jquery.session/jquery.session.js' %}"></script>

    {############# generic #}
    <script src="{% static 'lib/moment/moment.js' %}"></script>
    <script src="{% static 'lib/jsep/jsep.js' %}"></script>

    {############# cyphers - symteric + shared #}
    <script src="{% static 'lib/cryptojs/components/core.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/enc-base64.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/md5.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/sha1.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/sha256.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/ripemd160.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/x64-core.js' %}"></script>
    <script src="{% static 'lib/cryptojs/components/sha512.js' %}"></script>
    <script src="{% static 'lib/cryptojs/rollups/aes.js' %}"></script>

    {############# cyphers - signing #}
    <script src="{% static 'lib/jsrsasign/ext/jsbn.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/ext/jsbn2.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/ext/rsa.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/ext/rsa2.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/ext/base64.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/rsapem-1.1.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/rsasign-1.2.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/asn1hex-1.1.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/x509-1.1.js' %}"></script>
    <script src="{% static 'lib/jsrsasign/crypto-1.1.js' %}"></script>

    {############# cyphers - crypting #}
    <script src="{% static 'lib/jsencrypt/bin/jsencrypt.js' %}"></script>

    {############# working with files #}
    <script src="{% static 'lib/filesaver/filesaver.js' %}"></script>
    <script src="{% static 'lib/fileapi/dist/FileAPI.js' %}"></script>

    {############# ember, ember-data, handlebars vaultier #}
    <script src="{% static 'lib/handlebars/handlebars.js' %}"></script>
    <script src="{% static 'lib/ember/ember.js' %}"></script>
    <script src="{% static 'lib/ember/ember-data.js' %}"></script>
    <script src="{% static 'lib/ember/ember-data-django.js' %}"></script>

    {############# ui-tools #}
    <script src="{% static 'lib/select2/select2.js' %}"></script>

    <script src="{% static 'lib/selectizejs/dist/js/standalone/selectize.js' %}"></script>

    <script src="{% static 'lib/keypressjs/keypress.js' %}"></script>

    <script src="{% static 'lib/marked/lib/marked.js' %}"></script>

    {############# handlebars helpers #}

    <script src="{% static 'lib/bootstrap/assets/js/html5shiv.js' %}"></script>
    <script src="{% static 'lib/bootstrap/assets/js/respond.min.js' %}"></script>

    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>

{% endcompress %}
