{% load staticfiles %}
{% load compress %}

{% compress js %}

    <script src="{% static 'js/utils/Pohon.js' %}"></script>
    <script src="{% static 'js/utils/E.js' %}"></script>

    <script src="{% static 'js/utils/ConstantList.js' %}"></script>
    <script src="{% static 'js/utils/Singleton.js' %}"></script>
    <script src="{% static 'js/utils/HandlebarsHelpers.js' %}"></script>
    <script src="{% static 'js/utils/RSVPAjax.js' %}"></script>
    <script src="{% static 'js/utils/MutableAdapterMixin.js' %}"></script>

{% endcompress %}