<div class="container-full">
    <div class="vlt-page">
        <div class="vlt-page-content">
            <div class="col-md-12">
                <div class="top-50">
                    <div class="jumbotron vlt-bigbox vlt-no-nodes">
                        <div class="vlt-header">
                            <div class="row">
                                <div class="col-md-4 vlt-col">
                                    <i class="fa fa-plus-circle"></i>
                                </div>
                                <div class="col-md-8 vlt-col">
                                    <h1>You do not any root folder</h1>
                                </div>
                            </div>
                        </div>
                        <p>
                            For start creating notes, passwords etc. you have to create at least one root folder.
                            <br/>
                            <div class="text-center">
                                {{#link-to 'Documents.createRoot' class="btn btn-lg btn-primary"}}
                                    Create root node
                                {{/link-to}}
                            </div>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

