Package: vaultier
Version: 0.7
Section: web
Priority: optional
Architecture: all
Depends: python-virtualenv, python-dev, nginx, uwsgi, uwsgi-plugin-python,
    supervisor, postgresql-9.3, postgresql-client-9.3, postgresql-contrib-9.3,
    postgresql-server-dev-9.3
Maintainer: Rclick s.r.o. <info@rclick.cz>
Description: lorem lipsum
 long lorem ipsum
