Package: vaultier
Version: 0.7.5-38
Section: web
Priority: optional
Architecture: all
Pre-Depends:  nginx | libapache2-mod-uwsgi , postgresql | mysql-server, postgresql-client | mysql-client
Build-Depends: npm
Depends: python-virtualenv, python-dev, uwsgi, uwsgi-plugin-python,
    supervisor, postgresql-contrib , postgresql-server-dev-all
Maintainer: Rclick s.r.o. <info@rclick.cz>
Description: Vaultier
 Easy and secure password and credentials sharing across teams.
Installed-Size: 129688
