<div>
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            File
        </div>
    </div>
    <div class="vlt-inner">
        {{note}}
        <div class="vlt-controls">
            <div class="btn-group">
                <a type="button"
                   class="btn btn-default dropdown-toggle btn-sm"
                   data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu caret-left">
                    <li><a href="#">Delete card</a></li>
                    <li><a href="#">Delete card</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>