<div class="vlt-wrapper">
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            Note
        </div>
    </div>
    <div class="vlt-inner">
        {{#if name}}
            <h3 class="top-0">{{name}}</h3>
        {{/if}}

        {{#if decoded}}
            <div class="vlt-attrs">
                <div class="vlt-markdown">
                    {{renderMarkdown note }}
                </div>
            </div>

            {{view Vaultier.SecretIndexItemControlsView }}
        {{else}}
            <div class="alert alert-warning top-15">
                Encrypted data cannot be decrypted
            </div>
        {{/if}}

    </div>
</div>