<div class="col-md-10 col-md-offset-1">


    <div class="form-group">
        <label for="card-description">
            <h4>Please enter your note text:</h4>
        </label>
        {{errors.description}}
        {{view Vaultier.EpicEditorInput elementId='card-description' valueBinding='content.note' class="form-control" rows=8}}
         <div class="help-block">
             Markdown is available. Markdown manual <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>
         </div>
    </div>
</div>

<div class="clearfix"></div>

