<div class="vlt-controls">
    <div class="help-block vlt-author col-md-6">
        By {{printUser created_by}} Updated: {{ updated_ago }}
    </div>

    <div class="vlt-buttons col-md-6">
        <div class="btn-group">
            <a type="button"
               class="btn btn-default dropdown-toggle btn-sm"
               data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu caret-left">
                <li>{{#link-to 'Secret.edit' this }}Edit secret{{/link-to}}</li>
                <li><a href="javascript:" {{action deleteSecret this }}>Delete secret</a></li>
            </ul>
        </div>

        <div class="clearfix"></div>

    </div>

</div>