<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Login</h2>

                    <ul class="nav nav-pills vlt-wizard-steps" id="myTab">
                        {{#view view.TabView tab="Secret.create" }}
                            <a>
                            Select secret type
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        <li class="AuthRegisterKeys">
                            <a>
                                Generate your keys
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>


                        <li class="AuthRegisterCreds">
                            <a>
                                Your credentials
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>

                        <li class="AuthRegisterSum">
                            <a>
                                Finish registration
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>

                </div>
                <div class="modal-body">

                    <div class="tab-content">
                        <div class="tab-pane active">
                            AAA
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    BUTTON
                </div>
            </div>
        </div>
    </div>
</div>



