<div>
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            Note
        </div>
    </div>
    <div class="vlt-inner">
        <h4>{{name}}</h4>

        <div class="vlt-attrs">
            {{ note }}
        </div>

        {{view Vaultier.SecretIndexItemControlsView }}

    </div>
</div>