<div class="row">
    <div class="col-md-12">

        <div class="vlt-dialog">
            <div class="vlt-dialog-content">
                <div class="vlt-dialog-header">
                    <h2>Create new secret wizard</h2>

                    <ul class="nav nav-pills nav-justified vlt-wizard-steps">
                        {{#view view.TabView tab="createSelect" }}
                            <a>
                                Choose secret you want to create
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="createSubmit" }}
                            <a>
                                Fillout data
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                    </ul>
                </div>
                <div class="vlt-dialog-body">
                    {{ outlet tab }}
                </div>
                <div class="vlt-dialog-footer">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back
                    </a>
                    {{#if submitButtonShown}}
                        <a {{ action submit }} class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Submit
                        </a>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</div>



