<div class="vlt-controls">
    <div class="help-block vlt-author col-md-6">
        By {{printUser created_by}} Updated: {{printAgo updated_at }}
    </div>

    {{#exp  "(perms.update || perms.delete)"}}

    <div class="vlt-buttons col-md-6">
        <div class="btn-group">
            <a type="button"
               class="btn btn-default dropdown-toggle btn-sm"
               data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu caret-left">

                {{#if perms.update}}
                    <li>
                        {{#link-to 'Secret.edit' this }}Edit secret{{/link-to}}
                    </li>
                {{/if}}

                {{#if perms.delete}}
                    <li>
                        <a href="javascript:" {{action deleteSecret this }}>Delete secret</a>
                    </li>
                {{/if}}

            </ul>
        </div>

    {{/exp}}

    <div class="clearfix"></div>

</div>

</div>