<div class="vlt-node vlt-card" {{bind-attr class="view.loading:vlt-loading"}}>

    <label>
        {{view view.Radio name="move-target" value=view.content.pk}}
        {{view.content.name}}
    </label>
</div>