<div class="vlt-wrapper">
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            Note
        </div>
    </div>
    <div class="vlt-inner">
        <h4>{{name}}</h4>

        <div class="vlt-attrs">
            <div class="vlt-markdown">
                {{renderMarkdown note }}
            </div>
        </div>

        {{view Vaultier.SecretIndexItemControlsView }}

    </div>
</div>