<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create new secret wizard</h2>

                    <ul class="nav nav-pills nav-justified vlt-wizard-steps">
                        {{#view view.TabView tab="createSelect" }}
                            <a>
                                Choose secret you want to create
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="createSubmit" }}
                            <a>
                                Fillout data
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                    </ul>
                </div>
                <div class="modal-body">
                    {{ outlet tab }}
                </div>
                <div class="modal-footer">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">Back</a>
                    {{#unless submitButtonHidden}}
                        <a {{ action submit }} class="btn btn-primary">Submit</a>
                    {{/unless}}

                </div>
            </div>
        </div>
    </div>
</div>



