<div class="row">
    <div class="col-md-12">

        <div class="vlt-dialog vlt-tabs-modal">
            <form>
                <div class="vlt-dialog-content">
                    <div class="vlt-dialog-header">
                        <h2>Edit secret</h2>
                    </div>
                    <div class="vlt-dialog-body">

                        {{view view.EditView secret=secret}}

                        </div>
                    <div class="vlt-dialog-footer">
                        <a href="javascript:window.history.go(-1)" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back
                        </a>
                        <button {{ action save}} {{bind-attr disabled=saveDisabled }} class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Save changes
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

