<div class="vlt-controls">
    <div class="btn-group">
        <a type="button"
           class="btn btn-default dropdown-toggle btn-sm"
           data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <ul class="dropdown-menu caret-left">
            <li>{{#link-to 'Secret.edit' this }}Edit secret{{/link-to}}</li>
            <li><a href="javascript:void" {{action deleteSecret this }}>Delete secret</a></li>
        </ul>
    </div>
</div>