<div class="vlt-controls">
    <div class="help-block vlt-author col-md-6">
        <div class="vlt-footer-item help-block pull-left">
            {{printUser created_by  ellipsis=12 prefix='Created by:'}}
        </div>
        <div class="vlt-footer-item help-block pull-right">
            {{printAgo updated_at prefix='Latest modification at:' }}
        </div>
        <div class="clearfix"></div>
    </div>

    {{#exp  "(perms.update || perms.delete)"}}

    <div class="vlt-buttons col-md-6">
        <div class="btn-group">
            <a type="button"
               class="btn btn-default dropdown-toggle btn-sm"
               data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu caret-left">

                {{#if perms.update}}
                    <li>
                        {{#link-to 'Secret.edit' this.id }}Edit secret{{/link-to}}
                        {{#link-to 'Secret.move' this.id }}Move secret{{/link-to}}
                    </li>
                {{/if}}

                {{#if perms.delete}}
                    <li>
                        <a href="javascript:" {{action deleteSecret this }}>Delete secret</a>
                    </li>
                {{/if}}

            </ul>
        </div>

    {{/exp}}

    <div class="clearfix"></div>

</div>

</div>