<div class="vlt-create-secret col-md-10 col-md-offset-1">

    <h4>Please select type of secret you would like to create</h4>

    {{#link-to 'Secret.createSubmit' 'password' }}
        <div class="list-item vlt-select-secret-item">
            <div class="vlt-visual">
                <div class="vlt-icon password"></div>
            </div>
            <div class="vlt-desc">
                <h4>Secret password</h4>

                <p class="help-block">This type of secret allows yout to save ordinary password together with username, url and related note</p>

                <div class="clearfix"></div>
            </div>
        </div>
    {{/link-to}}

    {{#link-to 'Secret.createSubmit' 'note' }}
        <div class="list-item vlt-select-secret-item">
            <div class="vlt-visual">
                <div class="vlt-icon note"></div>
            </div>
            <div class="vlt-desc">
                <h4>Secret note</h4>

                <p class="help-block">Secret as note, you can save whatever text you want. You can use markdown to format note</p>

                <div class="clearfix"></div>
            </div>
        </div>
    {{/link-to}}

    <div style="display:none">
        {{#link-to 'Secret.createSubmit' 'file' }}
            <div class="list-item vlt-select-secret-item">
                <div class="vlt-visual">
                    <div class="vlt-icon file"></div>
                </div>
                <div class="vlt-desc">
                    <h4>Secret file</h4>

                    <p>Dapibus ac facil Morbi leo risusibus ac facilisis in</p>

                    <div class="clearfix"></div>
                </div>
            </div>
        {{/link-to}}
    </div>

</div>
<div class="clearfix"></div>
