{{#if auth.isAuthenticated}}
    <div class="vlt-security-box dropdown">

        <a href="#" class="vlt-username dropdown-toggle" data-toggle="dropdown">
            {{gravatarImg auth.user.cleanValues.email size=25 class="vlt-avatar"}}
            <p>{{ellipsis auth.user.cleanValues.nickname 12}}</p>

        </a>

        <ul class="dropdown-menu caret-right vlt-dropdown">
            <li>{{#link-to 'Documents.createRoot'}}Create new root folder{{/link-to}}</li>
            <li class="divider"></li>
            <li>{{#link-to 'Settings.index'}}Settings{{/link-to}}</li>
            <li><a {{ action logout target=view }} href="">Logout</a></li>

            {{#if showToken}}
                <li><a {{bind-attr  href=auth.token}} class="copy-token">Copy token to clipboard</a></li>
            {{/if}}
        </ul>
    </div>
{{/if}}