<div class="vlt-hp">
    <div class="jumbotron">
        <div class="vlt-message">
            <div class="vlt-visual col-md-4 text-center">
                <img src="/static/vaultier/images/logo-hp.png">
            </div>
            <div class="vlt-text  col-md-8 text-center">
                <h1>
                    Vaultier
                </h1>

                <p class="lead">
                    Easy and secure password and credentials sharing across teams.
                </p>

                <p>
                    {{#link-to 'AuthRegister'  class="btn btn-lg btn-success" }}Get started today <b> for
                        free </b>{{/link-to}}
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="row top-30">
        <div class="col-lg-4 vlt-feature vlt-feature-secure">
            <h2 class="bottom-30">Absolutely Secure</h2>

            <p class="lead">
                We use advanced security based on RSA encryption. All your data stored in our databases are cyphered and
                cannot be readed by
                anybody else than you and your team.
            </p>

            <!--
            <p><a class="btn btn-primary" href="#">View details »</a></p>
            -->

        </div>
        <div class="col-lg-4 vlt-feature vlt-feature-team">
            <h2 class="bottom-30">Team Productivity</h2>

            <p class="lead">Invite and colaborate with your team. You can selectively grant access permission to any
                team member to share credentials. </p>

            <!--
            <p><a class="btn btn-primary" href="#">View details »</a></p>
            -->
        </div>
        <div class="col-lg-4 vlt-feature vlt-feature-cloud">
            <h2 class="bottom-30">Cloud Solution</h2>

            <p class="lead">Vaultier is online. It is always available from web browser or mobile. No need to install,
                works out of the box</p>

            <!--
            <p><a class="btn btn-primary" href="#">View details »</a></p>
            -->
        </div>
    </div>
</div>
