.vlt-breads {
    background-color: #F5F5F5;
}

.vlt-breads .breadcrumb {
    margin-bottom: 0px;
    padding-left: 0px;
}


.vlt-breads .breadcrumb .active h1 {
    display: inline-block;
    margin: 0px;
}

.vlt-page {
    margin-top: 20px;
}

.vlt-page > .nav {
    margin-bottom: 40px;
}


.vlt-item {
    position: relative;
    background-color: #F5F5F5;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.vlt-item:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.vlt-item .panel-icon {
    position: absolute;
    border-radius: 4px;
    width: 65px;
    padding: 10px 0px 10px 5px;
    left: -60px;
    top: -1px;
    background-color: #2FA4E7;
    z-index: -1;
}
.vlt-item .panel-icon img {
    width: 48px;
    height: 48px;
}

.vlt-item .panel-header h3 {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 15px 15px 0px 15px;
}

.vlt-item .panel-body {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vlt-item .panel-footer {
    width: 100%;
    background-color: #2FA4E7;
    color: #ffffff;
}

.vlt-item.vlt-vault-item .panel-footer .vlt-updated {
    text-align: right;
}