<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-dialog col-md-6 col-md-offset-3 col-xs-12 top-50">
            <div class="vlt-dialog-content">
                <form class="form-horizontal" role="form">

                    <div class="vlt-dialog-header">
                        <h2>Recovery of Your Lost Key Was Successfully Finished.</h2>
                    </div>
                    <div class="vlt-dialog-body">
                        <div class="row">
                            <div class="col-md-12 text-center bottom-15">
                                <p>
                                    You can now log in with the new key. Documents will be seen after
                                    any user from your document logs in and confirms your new key.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="vlt-dialog-footer">

                        {{#link-to 'Documents' class="btn btn-primary" }}
                            Go to your documents dashboard
                        {{/link-to}}
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>