<div>

    {{#if props.keysReady }}

        <div class="col-md-offset-2 col-md-8">
            <h4>We have generated your key. </h4>

            <p>Because we care about strong security we use for login key instead of password.</p>

            <p>All secrets submited to vaultier are encrypted by your key and can be read only by you and your team.</p>

            <div class="alert alert-warning">

                <div class="row top-15">
                    <div class="col-md-offset-1 col-md-10">
                        <p
                                class="text-center"
                                data-toggle="tooltip"
                                title="
                                Private key is used instead of password to log into Vaultier.
                                Please keep private key safe and do not give it to anybody.
                                Without private key you will not be able to log into Vaultier
                                and your data will be rendered unreadable.
                                ">

                            <b>
                                Save the key to local computer and keep it carefully. Do not loose the key!
                            </b>
                        </p>
                    </div>
                </div>


                <div class="row top-15">
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" {{ action downloadKey }}>
                            <span class="glyphicon glyphicon-save"></span>
                            Save the key
                        </a>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    {{else}}
        <div class="generate">
            <h3>Please wait while generating your keys</h3>

            <div class="vlt-preloader vlt-preloader-small">
            </div>
        </div>
    {{/if}}

    <div class="clearfix"></div>

</div>
