<div class="col-md-6 col-md-offset-3 top-150 bottom-150 alert alert-danger">
        <div>
            <h4>Oooups! 404 Page not found</h4>

            <p>
                Page you are trying to access does not exists on our server
            </p>
        </div>

        <div class="btn-group pull-right">
            {{#link-to 'index' class="btn btn-primary"}}
                Go to homepage
            {{/link-to}}
        </div>
</div>