<div class="vlt-member-box">
    <div class="vlt-perms-section">
        Users able to manage
    </div>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7661?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa76611?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7661?s=50&amp;d=identicon"/>
                    </span>

    <div class="vlt-perms-section">
        Users able to read
    </div>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7661?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7662?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7661?s=50&amp;d=identicon"/>
                    </span>

    <div class="vlt-perms-section">
        Users able to create
    </div>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7662?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7663?s=50&amp;d=identicon"/>
                    </span>
                    <span class="vlt-user" data-toggle="tooltip" title=""
                          data-original-title="Created by: Misan (jan.misek@rclick.cz)">
                        <img style="width:50px; height:50px;" class=""
                             src="http://www.gravatar.com/avatar/a02ac562683e9ff16474cf727bfa7664?s=50&amp;d=identicon"/>
                    </span>
</div>