<div class="list-group-item">
    <div class="col-md-3">
                             <span data-toggle="tooltip" data-placement="top" title="type">
                                 {{#if role.to_card}}
                                     Card
                                 {{else}}
                                     {{#if role.to_vault}}
                                         Vault
                                     {{else}}
                                         {{#if role.to_workspace}}
                                             Workspace
                                         {{/if}}
                                     {{/if}}
                                 {{/if}}
                             </span>
    </div>
    <div class="col-md-3">
        <span data-toggle="tooltip" data-placement="top" title="name">object name</span>
    </div>
    <div class="col-md-6">
        <div class="col-md-8 vlt-edit-perms">

            {{view view.Select
            role=role
            selection=role.level
            class="form-control vlt-perms"
            contentBinding="roleLevels"
            optionValuePath="content.value"
            optionLabelPath="content.text"
            }}
        </div>
        <div class="col-md-4">
            <a class="vlt-delete btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>