.vlt-hp .jumbotron {
    padding-top: 20px;
}
.vlt-hp .vlt-message {
    position: relative;
}

.vlt-hp .vlt-message .vlt-visual img {
    width: 200px;
    height: 200px;
}

/*.vlt-hp .vlt-message .vlt-text {*/
    /*margin-left: 250px;*/
/*}*/

.vlt-hp .vlt-feature h2 {
    padding-left: 35px;
    background-position: 0px 2px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.vlt-hp .vlt-feature.vlt-feature-secure h2 {
    background-image: url('../images/icon-secure-blue.png');

}

.vlt-hp .vlt-feature.vlt-feature-team h2 {
    background-image: url('../images/icon-team-blue.png');
}

.vlt-hp .vlt-feature.vlt-feature-cloud h2 {
    background-image: url('../images/icon-cloud-blue.png');
}