<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <div class="navbar-brand vlt-branding">
                <div class="vlt-brand">
                    <a href="#">
                        <img class="vlt-brandimg" src="/static/images/logo.png">

                        <div class="vlt-brandname">Vaultier</div>
                    </a>
                </div>
            </div>

        </div>

        <div class="navbar-right">

            <div class="panel panel-default vlt-security-box dropdown pull-right">
                <img class="vlt-avatar" src="http://www.gravatar.com/avatar/{{ avatar }}">

                <a href="#" class="vlt-username dropdown-toggle" data-toggle="dropdown">
                    Jan Misek
                </a>

                <ul class="dropdown-menu vlt-dropdown">
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </div>

            <div class="panel panel-default vlt-account-box pull-right dropdown">

                <img class="vlt-accountimg" src="/static/images/user/rclick.png ">

                <a href="#" class="vlt-accountname dropdown-toggle" data-toggle="dropdown">
                    RightClick Vault
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="vlt-breads">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">This</a></li>
            <li><a href="#">Bread</a></li>
            <li><a href="#">is</a></li>
            <li class="active"><h2>Active</h2></li>
        </ol>
    </div>
</div>


<div class="container vlt-page">

    <div class="vlt-page-nav">

        <ul class="vlt-page-tabs nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>

        <div class="vlt-page-toolbar pull-right">
            <div class="btn-group">

                <a href="#" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit vault
                </a>

                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-sort"></span>
                        Dropdown
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Most recent</a></li>
                        <li><a href="#">Alphabetically</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>

            <a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                New card
            </a>

        </div>

        <div class="clearfix"></div>

    </div>

    <div class="row">
        <div class="col-md-12">

            {{yield}}

        </div>
    </div>

</div>


<div class="vlt-footer">
    <div class="container">
        <p>&copy; Company 2013</p>
    </div>
</div>
