{{#if content.content.note}}
    <tr>
        <td>Note</td>
        <td>
            <div class="vlt-markdown">
                {{content.content.note}}
            </div>
        </td>
    </tr>
{{/if}}
