{{#if content.content.url}}
    <tr>
        <td>URL</td>
        <td>{{content.content.url}}</td>
    </tr>
{{/if}}

{{#if content.content.username}}
    <tr>
        <td>Username</td>
        <td>{{content.content.username}}</td>
    </tr>
{{/if}}

{{#if content.content.password}}
    <tr>
        <td>Password</td>
        <td>{{content.content.password}}</td>
    </tr>
{{/if}}

{{#if content.content.note}}
    <tr>
        <td>Note</td>
        <td>
            <div class="vlt-markdown">
                {{content.content.note}}
            </div>
        </td>
    </tr>
{{/if}}
