<tr>
    <td>URL</td>
    <td>{{content.url}}</td>
</tr>
<tr>
    <td>Username</td>
    <td>{{content.username}}</td>
</tr>
<tr>
    <td>Password</td>
    <td>{{content.password}}</td>
</tr>
<tr>
    <td>Note</td>
    <td>
        <div class="vlt-markdown">
            {{content.note}}
        </div>
    </td>
</tr>


