<div class="vlt-node vlt-vault" {{bind-attr class="view.loading:vlt-loading"}}>
    <label>
        {{view view.Radio name="move-target" value=view.content.pk}}
        {{view.content.name}}
    </label>
