{{#if auth.isAuthenticated}}
    <div class="panel panel-default vlt-security-box dropdown pull-right">
        <img class="vlt-avatar" src="http://www.gravatar.com/avatar/{{ avatar }}">

        <a href="#" class="vlt-username dropdown-toggle" data-toggle="dropdown">
            {{auth.user.nickname}}
        </a>

        <ul class="dropdown-menu vlt-dropdown">
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </div>
{{else}}
    <div class=" vlt-security-box pull-right">
       {{#link-to 'AuthLogin' class="btn btn-primary btn-sm" }}Login{{/link-to}}
       {{#link-to 'AuthRegister' class="btn btn-default btn-sm" }}Create an account{{/link-to}}
    </div>
{{/if}}