<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-dialog col-md-8 col-md-offset-2 col-xs-12 top-50">
            <div class="vlt-dialog-content">
                <form class="form-horizontal" role="form">

                    <div class="vlt-dialog-header text-center">
                        <h2>Retrieve Your Lost Key</h2>
                    </div>
                    <div class="vlt-dialog-body">
                        <div class="row">
                            <div class="col-md-12 bottom-15">

                                <div class="callout callout-info">
                                    <p>
                                        Since you have forgotten your key, we are ready to renew your access. Please enter
                                        your email below and we will send you further instructions.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="form-group" {{bind-attr class='error:has-error'}}>
                                    <label for="login-form-email" class="col-lg-4 control-label pull-left">Email</label>

                                    <div class="col-lg-8">
                                        {{input id="email"
                                        valueBinding="content.email"
                                        class="form-control"
                                        placeholder="Enter your email"
                                        require="true"
                                        }}
                                        <span class="error">
                                            {{content.errors.email}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="vlt-dialog-footer">

                        <div class="pull-right vlt-right-buttons">
                            <button type="submit" {{ action sendRecoveryKeyRequest}} class="btn btn-primary">
                                Send
                            </button>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>