<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Login</h2>

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#login-latest">Latest user</a></li>
                        <li><a href="#login-switch">Switch user</a></li>
                    </ul>
                </div>
                <div class="modal-body">

                    <div class="tab-content">
                        <div class="tab-pane active" id="login-latest">

                            <div class="row">

                                <div class="col-md-7">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="login-form-email" class="col-lg-4 control-label">Email</label>

                                            <div class="col-lg-8">
                                                <input disabled type="email"
                                                       class="form-control"
                                                       value="jan.misek@gmail.com"
                                                       id="login-form-email"
                                                       placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="login-form-key" class="col-lg-4 control-label">Key</label>

                                            <div class="col-lg-8">
                                                <input disabled
                                                       class="form-control"
                                                       value="Using remebered key"
                                                       id="login-form-key"
                                                       placeholder="Key">
                                            </div>
                                        </div>

                                        <br/>

                                        <div class="form-group">
                                            <label for="login-form-remember"
                                                   class="col-lg-4 control-label">Remember</label>

                                            <div class="col-lg-8">
                                                <select class="form-control"
                                                        id="login-form-remember"
                                                        >
                                                    <option value="0">Do not remember</option>
                                                    <option value="24">Remember for today</option>
                                                    <option value="24*7">Remember for week</option>
                                                    <option value="24*7*30">Remember for month</option>
                                                    <option value="24*7*30*12">Remember for one year</option>
                                                </select>
                                                <span class="help-block">
                                                    Your credentials will be stored for selected period of time.
                                                    Remebering crednentials is not so secure by it easy your login
                                                </span>
                                            </div>
                                        </div>


                                    </form>

                                </div>

                                <div class="col-md-5">

                                    <div class="callout callout-info">
                                        <h4>How our security works</h4>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
                                            nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="login-switch">

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    Do not have account yet? {{#link-to 'AuthRegister' class="btn btn-default btn-sm" }}Create new account here{{/link-to}}
                    <a href="#" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>



