<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-register">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Login</h2>

                    <ul class="nav nav-pills" id="myTab">
                        <li class="active">
                            <a>
                                Before you register
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Generate your keys
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                        <li>
                            <a>
                                Your credentials
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                        <li>
                            <a>
                                Finish registration
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="modal-body">

                    <div class="tab-content">
                        <div class="tab-pane active" id="login-latest">

                            <div class="row">

                                <div class="col-md-12">

                                    <div class="callout callout-info">
                                        <h4>How our security works</h4>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
                                            nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
                                        </p>

                                        <h4>Steps of registration</h4>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
                                            nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
                                        </p>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="login-switch">

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    Do you have account already? {{#link-to 'Auth.login' class="btn btn-default btn-sm" }}Login to your
                    account here{{/link-to}}
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



