<div class="vlt-register-keys">
    {{ props.publicKey }}
    {{#if props.keysReady }}
        <div class="generated">
            <div class="callout callout-info">
                <h4>Your key has been generated</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu
                    nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
                </p>

                <br/>

                <div class="alert alert-warning vlt-download">
                    Before you continue please download your private key
                    <br/>
                    <br/>
                    <a {{ action downloadPublicKey }} class="btn btn-primary ">Download private key</a>
                    <br/>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    {{else}}
        <div class="generate">
            <h3>Please wait while generating your keys</h3>
            <div class="vlt-preloader vlt-preloader-small">
            </div>
        </div>
    {{/if}}
</div>
