<div class="vlt-dialog">
    <div class="vlt-dialog-content">
        <div class="vlt-dialog-header">
            <h2>My workspaces</h2>
        </div>

        <div class="vlt-dialog-body">
        </div>

        <div class="vlt-dialog-footer">
        </div>

    </div>
</div>