<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-page-nav">

            <div class="vlt-page-toolbar pull-right">
                <div class="vlt-members-management-controls">
                    <a href="javascript:window.history.go(-1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back
                    </a>

                    {{#link-to 'Workspace.memberInvite' class="btn btn-primary"}}
                        <span class="glyphicon glyphicon-plus"></span>
                        Invite
                    {{/link-to}}

                </div>
            </div>
            <div class="pull-left">
                <h2>Members of workspace <strong>{{ content.workspace.name }}</strong></h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel panel-default vlt-panel-members">
            <div class="panel-heading ">
                <div class="vlt-col col-md-8">
                    <h4> {{members.length}} Members at </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End of heading -->
            <div class="panel-body" id="collapse">
                {{members-admin-list members=concreteMembers}}
                {{members-admin-list members=invitedMembers}}
            </div>
            <!-- End of panel-body -->
            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>