<div class="clearfooter"></div>
<footer>
    <div class="container-full">
        <div class="pull-left vlt-enterprise">
            <p>
                <a href="http://www.vaultier.org/products/" class="btn btn-default" target="_blank">
                    Enterprise Edition pricing
                </a>
            </p>
        </div>
        <div class="pull-left vlt-feedback">
            <p>
                <a href="http://vaultier.org/contact/" class="btn btn-default" target="_blank">
                    Feedback & Bug report
                </a>
            </p>
        </div>
        <div class="pull-right vlt-rclick">
            <a href="http://www.rclick.cz/" target="_blank">
                created by <img height="35px" src="/static/vaultier/images/rclick.png">
            </a></p>
        </div>
        <div class="pull-right vlt-version">
           Vaultier  {{ config.VERSION }}
        </div>
    </div>
</footer>
