<div class="input-group">
    {{view Em.TextField elementId='secret-password' value=value class="form-control" disabled=disabled }}
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "generatePassword"}} {{bind-attr disabled=disabled}}>Generate</button>
    </span>
</div>
