<div class="vlt-page-nav">

    <ul class="vlt-page-tabs nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
    </ul>

    <div class="vlt-page-toolbar pull-right">
        <div class="btn-group">

            <a href="#" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit vault
            </a>

            <div class="btn-group">
                <a href="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-sort"></span>
                    Dropdown
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#">Most recent</a></li>
                    <li><a href="#">Alphabetically</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <a href="#" {{action "createVault"}} class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            TEST ALERT
        </a>

        {{#linkTo 'VaultList.new' class='btn btn-primary'}}
            <span class="glyphicon glyphicon-plus"></span>
            New Vault

        {{/linkTo}}


    </div>

    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">

        {{#if length}}
            {{#each}}
                {{view Vaultier.VaultItemView}}
            {{/each}}
        {{else}}
            NO ITEMS. DESIGN WILL BE PROVIDED LATER
        {{/if}}

    </div>
</div>

