<div class="vlt-page-nav">

    {{#if length}}
    <div class="vlt-page-toolbar pull-right">

        {{#link-to 'Workspace.create' class="btn btn-primary" }}
            <span class="glyphicon glyphicon-plus"></span>
            Create new workspace
        {{/link-to}}

    {{/if}}

    <div class="clearfix"></div>

</div>

    <div class="row">
        <div class="col-md-12">

            {{#if length}}
                <div class="col-md-8 col-md-offset-2">
                    <h4>Please select workspace you want to work with</h4>

                    <div class="list-group">
                        {{#each}}
                            {{view Vaultier.WorkspaceIndexItemView}}
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <div class="jumbotron col-md-8 col-md-offset-2">
                    <h1>You do not have any workspace yet</h1>

                    <p>
                        What are workspaces for? This example is a quick exercise to illustrate how the default, static
                        includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                    </p>

                    <p class="top-30">
                        {{#link-to 'Workspace.create' class="btn btn-lg btn-primary" }}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new workspace
                        {{/link-to}}
                    </p>
                </div>
            {{/if}}

        </div>
    </div>

