{{#unless view.workspace.isApproved}}
    <div class="alert alert-warning top-15">
        <b>Not approved yet.</b>
        Your access to this workspace has not been approved yet. You will not be able to see secret informations in
        workspace
    </div>
{{/unless}}
