<div class="row">
    <div class="col-md-12">

        <div class="vlt-dialog vlt-dialog-window">
            <form>

                <div class="vlt-dialog-content">
                    <div class="vlt-dialog-header">
                        <h2>Members approval</h2>
                    </div>
                    <div class="vlt-dialog-body">

                        <div class="col-md-8 col-md-offset-2 top-15 bottom-30">
                            <div class="bottom-15">
                                Some of workspace members waiting for approval.
                            </div>
                            <table class="table vlt-table table-bordered">
                                {{#each member in content}}

                                    <tr>
                                        <td>
                                           {{printUser member}}
                                        </td>
                                    </tr>

                                {{/each}}
                            </table>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                    <div class="vlt-dialog-footer">
                        <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Cancel
                        </a>
                        <a href="#" class="btn btn-primary btn" {{ action acceptMembers }}>
                            <span class="glyphicon glyphicon-ok"></span>
                            Approve members
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>