<div class="panel panel-default vlt-security-box dropdown pull-right">
    <img class="vlt-avatar" src="http://www.gravatar.com/avatar/{{ avatar }}">

    <a href="#" class="vlt-username dropdown-toggle" data-toggle="dropdown">
        Jan Misek
    </a>

    <ul class="dropdown-menu vlt-dropdown">
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
    </ul>
</div>
